<form role="form" action="" method="post" >

  <div class="form-group">
    <label for="InputMessage">New Message<br><br></label>
    <div class="input-group">
      <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
      <span class="input-group-addon"><i class="fa fa-check"></i></span></div>
  </div>

  <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">

</form>
