<% if local_assigns.has_key? :first_message %>
  <% user_id = current_account.user.id %>
  <% evaluation_id = first_message.evaluation_id %>


<form role="form" action="/users/<%= user_id %>/evaluations/<%= evaluation_id %>/messages" method="post" >

    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

  <div class="form-group">
    <label for="InputMessage">New Message<br><br></label>
    <div class="input-group">
      <textarea name="content" id="content" class="form-control" rows="5" required></textarea>
      <span class="input-group-addon"><i class="fa fa-check"></i></span></div>
  </div>

  <input type="submit" name="submit" id="submit" value="Send" class="btn btn-info pull-right">

</form>

<% end %>
