<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-offset-2">
      <h1>
        Welcome
        <% if account_signed_in? && current_account.user.present? && current_account.user.valid? %>
          <%= current_account.user.first_name %>
        <% else %>
          , please sign up to like rooms!
        <% end %>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <% room = @rooms.sample %>
        <% if !room.nil? %>
          <%= render partial: 'rooms/show', locals: { local_room: room, local_user: @user } %>
        <% else %>
          No rooms yet!
        <% end %>
      </div>
    </div>
    <div class="col-sm-3 col-sm-offset-1">

      <%= @liked_rooms.size.to_s %> liked rooms:
      <% if @liked_rooms.size > 0 %>
        <% @liked_rooms.each do |lr| %>
          <div class="row">
            <%= render partial: 'rooms/show', locals: { local_room: lr, local_user: @user } %>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
