<% if account_signed_in? && current_account.user.present? && current_account.user.valid? %>
  <div class="row">

    <!-- building list -->

    <div class="col-sm-4 building-menu">
      <% @buildings.each do |b| %>
        <div class="row building-item">

          <%= link_to ("<p class='building-item-title'>" + b.name + "</p><p>" + b.location + "</p>").html_safe, myrooms_user_buildings_path(current_account.user.id, extra: b.id) %>

        </div>
      <% end %>
    </div>

    <!-- rooms per building -->

    <div class="col-sm-8">
      <% @right_rooms.each do |r| %>
        <div class="row">
          <%= render partial: 'rooms/show', locals: { local_room: r, local_user: @user } %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
