<% if account_signed_in? && current_account.user.present? && current_account.user.valid? %>
  <div class="row">
    <div class="col-sm-4">
      <% @buildings.each do |b| %>
        <div class="row">

          <%= link_to ("<p>" + b.name + "</p><p>" + b.location + "</p>").html_safe, myrooms_user_buildings_path(current_account.user.id, extra: b.id) %>

        </div>
    </div>
    <div class="col-sm-8">
        <% @right_rooms.each do |r| %>
          <row>
            <%= render partial: 'rooms/show', locals: { local_room: r, local_user: @user } %>
          </row>
        <% end %>

    <!-- add a room SHOW -->
    <!-- add an edit button -->
    <!-- add a create OFFER link -->

      <% end %>
    </div>
  </div>
<% end %>
