

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="row">

      <div class="col-sm-5" name="building">
        <%= render 'form' %>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-5" name="rooms">

        <div class="row">
          <div class="col-sm-12" id="notify_me">
            <h3></h3>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 room-card" id="room1">
            room1
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 room-card" id="room2">
            room2
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 room-card" id="room3">
            room3
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 room-card" id="room4">
            room4
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 room-card" id="room5">
            room5
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>

<!-- JQUERY SECTION -->

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function(){

        var spare_rooms = 0;
        add_rooms_html();

        $('#building_number_of_rooms').change(function(){
          calculate();
          add_rooms_html();
        });

        $('#building_number_of_roommates').change(function(){
          calculate();
          add_rooms_html();
        });

        function calculate(){
          var n_rooms = $('#building_number_of_rooms').val();
          var n_roommates = $('#building_number_of_roommates').val();
          spare_rooms = n_rooms - n_roommates;

        }

        function add_rooms_html(){
          console.log(spare_rooms);

          switch(spare_rooms) {
            case 5:
              $("#room1").css("visibility", "visible");
              $("#room2").css("visibility", "visible");
              $("#room3").css("visibility", "visible");
              $("#room4").css("visibility", "visible");
              $("#room5").css("visibility", "visible");
              $("#notify_me > h3").html("5 rooms to fill!");
              break;
            case 4:
              $("#room1").css("visibility", "visible");
              $("#room2").css("visibility", "visible");
              $("#room3").css("visibility", "visible");
              $("#room4").css("visibility", "visible");
              $("#room5").css("visibility", "hidden");
              $("#notify_me > h3").html("4 rooms to fill!");
              break;
            case 3:
              $("#room1").css("visibility", "visible");
              $("#room2").css("visibility", "visible");
              $("#room3").css("visibility", "visible");
              $("#room4").css("visibility", "hidden");
              $("#room5").css("visibility", "hidden");
              $("#notify_me > h3").html("3 rooms to fill!");
              break;
            case 2:
              $("#room1").css("visibility", "visible");
              $("#room2").css("visibility", "visible");
              $("#room3").css("visibility", "hidden");
              $("#room4").css("visibility", "hidden");
              $("#room5").css("visibility", "hidden");
              $("#notify_me > h3").html("2 rooms to fill!");
              break;
            case 1:
              $("#room1").css("visibility", "visible");
              $("#room2").css("visibility", "hidden");
              $("#room3").css("visibility", "hidden");
              $("#room4").css("visibility", "hidden");
              $("#room5").css("visibility", "hidden");
              $("#notify_me > h3").html("1 room to fill!");
              break;
            case 0:
              $("#room1").css("visibility", "hidden");
              $("#room2").css("visibility", "hidden");
              $("#room3").css("visibility", "hidden");
              $("#room4").css("visibility", "hidden");
              $("#room5").css("visibility", "hidden");
              $("#notify_me > h3").html("You don't have any spare rooms ?");
              break;
            default:
              $("#notify_me > h3").html("let's start with 5 already");
              console.log("let's start with 5 already");
          }
        }

    });
  <% end %>
<% end %>
